@charset "UTF-8";

.commentList {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -.5em;
}
.comment {
  margin: 0 .5em 1em;
  border: solid 1px #ccc;
  border-radius: 6px;
  padding: 1em;
  white-space: nowrap;
  overflow: hidden;
}
.comment h2,
.comment p {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.comment h2 {
  margin-top: 0;
  font-size: 1em;
  font-weight: bolder;
}
